*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  overflow-x: hidden; }

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 90vh max-content max-content;
  background-color: white; }
  @media only screen and (max-width: 1200px) {
    .container {
      grid-template-rows: 90vh max-content max-content; } }
  @media only screen and (max-width: 600px) {
    .container {
      grid-template-rows: 55vh max-content max-content; } }

.header {
  background-color: rgba(89, 241, 255, 0.39);
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 60vw 1fr;
  justify-content: center;
  align-content: center;
  align-items: center; }
  @media only screen and (max-width: 1200px) {
    .header {
      height: 90vh; } }
  @media only screen and (max-width: 600px) {
    .header {
      padding: 1rem 0 0 0;
      align-content: start;
      height: 55vh; } }
  .header__title {
    color: #eb4558;
    height: 100%;
    font-size: 10rem;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 1px 2px 3px black;
    margin-left: 18rem; }
    @media only screen and (max-width: 1200px) {
      .header__title {
        height: 50vh; } }
    @media only screen and (max-width: 900px) {
      .header__title {
        height: 45vh;
        margin-left: 25%; } }
    @media only screen and (max-width: 600px) {
      .header__title {
        font-size: 7rem;
        height: 20vh;
        margin: 15%; } }
    @media only screen and (max-height: 500px) {
      .header__title {
        height: 50vh;
        font-size: 8rem;
        margin-left: 25%; } }
  .header__slogan {
    font-size: 5rem;
    color: #f78259;
    font-family: 'Rokkitt', serif;
    text-shadow: 1px 2px 3px black;
    padding-right: 20rem; }
    @media only screen and (max-width: 1200px) {
      .header__slogan {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        margin-left: 18rem; } }
    @media only screen and (max-width: 900px) {
      .header__slogan {
        margin-left: 15%; } }
    @media only screen and (max-width: 600px) {
      .header__slogan {
        font-size: 4rem;
        margin-left: 10%;
        width: 120%; } }
    @media only screen and (max-height: 500px) {
      .header__slogan {
        font-size: 3rem; } }

.nav__box {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background-color: #11121b;
  border-bottom: 2px solid #eb4558;
  height: 5.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.nav__link {
  font-size: 2rem;
  color: #f78259;
  font-family: "Josefin Sans", sans-serif;
  list-style-type: none;
  height: 5rem;
  width: 25rem;
  padding: 0 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.link__anim {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #f78259;
  width: 0; }
  .link__anim:hover {
    animation-name: linkAnim;
    animation-duration: .8s;
    cursor: pointer;
    animation-fill-mode: forwards; }

@keyframes linkAnim {
  0% {
    width: 0%;
    background-color: #f78259; }
  50% {
    color: #1b0e00; }
  100% {
    color: #1b0e00;
    width: 15rem;
    padding: 0 2rem; } }

.intro {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #e6e6e6;
  margin: 4rem 4rem 4rem 4rem; }
  @media only screen and (max-width: 900px) {
    .intro {
      margin: 4rem 0 4rem 0; } }
  @media only screen and (max-width: 600px) {
    .intro {
      margin: 2rem 0 1rem 0; } }
  .intro__text {
    grid-column: 1 / 4;
    border-left: 3px solid #eb4558; }
    @media only screen and (max-width: 600px) {
      .intro__text {
        grid-column: 1 / -1; } }
  .intro__header {
    font-family: "Josefin Sans", sans-serif;
    color: #272626;
    font-size: 4rem;
    font-weight: 400;
    padding-top: 1rem;
    margin: 0 1rem 1rem 3rem; }
  .intro__main--text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    margin: 0 3rem;
    margin-bottom: 1.5rem; }
  .intro__img {
    width: 100%;
    height: auto;
    grid-column: 4 / 6;
    margin-right: 2rem; }
    @media only screen and (max-width: 900px) {
      .intro__img {
        margin: auto 0; } }
    @media only screen and (max-width: 600px) {
      .intro__img {
        grid-column: 1 / -1;
        border-left: 3px solid #eb4558; } }
  .intro .date {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    margin: 0 3rem;
    padding-top: 22rem;
    color: #575757; }

.locations {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, min-content));
  grid-template-rows: 10rem min-content;
  grid-column-gap: 2rem;
  justify-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to right bottom, #cccccc, #e6e6e6);
  margin: 0 4rem 4rem 4rem;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 1180px) {
    .locations {
      margin: 0 1rem 4rem 1rem;
      grid-gap: 0rem; } }
  @media only screen and (max-width: 1080px) {
    .locations {
      grid-template-columns: repeat(auto-fill, minmax(60rem, min-content));
      grid-row-gap: 3rem;
      width: 100%;
      margin: 1rem 0; } }
  .locations__header {
    font-size: 4rem;
    font-family: "Josefin Sans", sans-serif;
    grid-column: 1 / -1;
    padding-top: 3rem;
    color: #3b3b3b; }

.card {
  width: 27rem;
  height: 100%;
  border-radius: 4px;
  margin-bottom: 4rem;
  border-bottom: 3px solid #f78259;
  background-color: #e6e6e6;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.445);
  transition: all .2s; }
  @media only screen and (max-width: 1080px) {
    .card {
      width: 40vw;
      font-size: 1.5rem; } }
  @media only screen and (max-width: 900px) {
    .card {
      width: 70vw; } }
  @media only screen and (max-width: 600px) {
    .card {
      width: 80vw; } }
  .card:hover {
    transform: translateY(-3px); }
  .card__header {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    border-top: 3px solid #639a67;
    color: #3b3b3b;
    border-radius: 4px; }
    @media only screen and (max-width: 1080px) {
      .card__header {
        font-size: 2rem; } }
  .card__img--pic {
    width: 100%;
    height: 20rem;
    border-bottom: 3px solid #639a67;
    border-top: 3px solid #639a67; }
    @media only screen and (max-width: 1080px) {
      .card__img--pic {
        height: 100%; } }
  .card__text {
    padding: 1.5rem;
    font-family: "Open Sans", sans-serif;
    color: #3b3b3b; }

.chris {
  grid-column: 1 /-1;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 4rem; }
  @media only screen and (max-width: 1080px) {
    .chris {
      grid-template-columns: 1fr;
      margin-left: 0; } }
  .chris__header {
    grid-column: 1 / -1;
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    padding-left: 4rem;
    padding-top: 4rem; }
    @media only screen and (max-width: 900px) {
      .chris__header {
        width: 90%;
        line-height: 4rem; } }

.shoes {
  background-color: #eb4558;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content); }
  @media only screen and (max-width: 900px) {
    .shoes {
      width: 100%; } }
  .shoes__header {
    grid-column: 1 / -1;
    color: #3b3b3b;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 4rem; }
  .shoes__img {
    width: 100%;
    height: auto; }
    @media only screen and (max-width: 1080px) {
      .shoes__img {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 4rem; } }
  .shoes__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    padding: 0 4rem 2rem 4rem;
    padding-bottom: 3rem;
    grid-row: 3 / 4; }

.strava {
  text-align: center;
  background-image: linear-gradient(to left, #cccccc, #e6e6e6);
  margin-right: 4rem; }
  @media only screen and (max-width: 1080px) {
    .strava {
      width: 100%;
      margin: 0;
      padding-bottom: 3rem; } }
  .strava__header {
    font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
    padding: 4rem 0 2rem 0;
    color: #3b3b3b; }

.footer {
  grid-column: 1/ -1;
  grid-row: 6 / 7;
  margin: 2rem 4rem;
  background-color: #3b3b3b;
  display: grid;
  grid-template-rows: repeat(4, 8rem);
  justify-items: center;
  font-family: "Open Sans", sans-serif;
  color: lightgray;
  padding-top: 2rem; }
  @media only screen and (max-width: 1080px) {
    .footer {
      width: 100%;
      margin: 2rem 0 0 0; } }
  @media only screen and (max-width: 600px) {
    .footer {
      margin-top: 1; } }
  .footer__header {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    color: #eb4558;
    align-self: center;
    padding: 5rem 0 5rem 0; }
    @media only screen and (max-width: 600px) {
      .footer__header {
        width: 70%;
        text-align: center;
        padding: 5rem 0 3rem 0; } }
  .footer__nav__box {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    list-style-type: none;
    align-self: center; }
  .footer__link {
    font-size: 1.5rem;
    padding: 1rem; }
    .footer__link:hover {
      transform: rotate(10deg);
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.602); }
  .footer__link--copy {
    padding-bottom: 1px; }
    .footer__link--copy:hover {
      border-bottom: 2px solid #f78259; }
  .footer__copyright {
    align-self: center; }
    @media only screen and (max-width: 900px) {
      .footer__copyright {
        width: 40%;
        text-align: center; } }
  .footer__icons {
    align-self: center;
    font-size: 2rem;
    width: 20%;
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 900px) {
      .footer__icons {
        width: 40%; } }

.fab:hover, .far:hover {
  transform: scale(1.1); }

.bg-video {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 95%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden; }
  .bg-video__content {
    height: 95%;
    width: 100%;
    object-fit: cover; }
