*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 1.42pt;
  padding: 0;
  margin: 0;
  overflow: hidden; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.navLinks {
  color: white; }
  .navLinks:hover {
    color: white; }

.footerLink {
  color: white; }
  .footerLink:hover {
    text-decoration: underline;
    color: white; }

.filosofiaLogo {
  z-index: -1; }

.header {
  height: 100vh;
  background-image: url(https://u.tfstatic.com/restaurant_photos/385/202385/169/612/restaurant-erh-la-salle-principal-c9a3b.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh; }
  .header__logo {
    padding: 16rem 16rem; }

.logo {
  border: 2px rgba(255, 255, 255, 0.74) solid;
  border-radius: 4rem;
  width: 94rem;
  height: 82rem; }
  .logo__text {
    font-size: 24rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.74);
    text-align: center;
    transform: translateY(60%); }
  .logo__text--small {
    font-size: 9rem;
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    transform: translateY(285%);
    background-color: rgba(37, 37, 37, 0.973);
    width: 70%;
    margin: 0 auto; }

.navbarK {
  background-color: #34558b;
  text-align: center;
  height: 40rem; }
  .navbarK__links {
    font-size: 12rem;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-transform: uppercase; }
    .navbarK__links--link {
      display: inline-block;
      padding: 11rem 3px 5px 0;
      margin: 0 4%;
      border-bottom: 4px transparent solid; }
      .navbarK__links--link:hover {
        border-bottom: 2rem white solid; }

.footer {
  height: 268rem;
  background-color: #34558b; }
  .footer .footer__logo {
    border: 2px rgba(255, 255, 255, 0.74) solid;
    border-radius: 4rem;
    width: 94rem;
    height: 82rem;
    margin: 27.5rem 0  0 103rem; }
    .footer .footer__logo__text {
      font-size: 24rem;
      font-family: 'Oswald', sans-serif;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.74);
      text-align: center;
      transform: translateY(60%); }
    .footer .footer__logo__text--small {
      font-size: 9rem;
      color: white;
      text-align: center;
      transform: translateY(285%);
      background-color: #34558b;
      width: 70%;
      margin: 0 auto; }

.direccion {
  margin: 31.5rem 0 0 86rem;
  width: 96rem; }
  .direccion__icon {
    width: 20rem;
    font-size: 15rem;
    color: white;
    height: 30rem;
    margin-right: 10rem;
    margin-left: -10rem;
    padding-top: 2rem; }
  .direccion__text {
    display: inline;
    color: white;
    font-size: 8rem;
    font-weight: 100;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.15rem; }

.mapbox {
  width: 179.5rem;
  height: 179.5rem;
  margin-top: 44.5rem;
  margin-left: 44.5rem; }

.social {
  margin-top: 57.5rem;
  padding-left: 50rem; }

.horario {
  font-family: "Oswald", sans-serif;
  font-size: 12rem;
  font-weight: 200;
  color: white;
  margin-bottom: 10.5rem; }
  .horario__text {
    font-family: "Oswald", sans-serif;
    font-size: 8rem;
    font-weight: 200;
    color: white;
    margin-bottom: 15rem; }

.insta_icon {
  font-size: 20rem;
  margin-top: 15rem;
  margin-bottom: 15rem; }

.dirTable {
  width: 150rem; }

.filosofia {
  position: relative;
  margin-top: 14rem;
  text-align: center;
  margin-bottom: 34rem; }
  .filosofia__container {
    width: 100%;
    position: absolute;
    top: 27%; }
  .filosofia__text {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color: #34558b;
    margin: 0 auto;
    z-index: 1;
    background-color: rgba(238, 232, 217, 0.801);
    font-size: 16rem;
    padding: 20rem;
    width: 80%; }

.kantine {
  background-image: url(https://static.standard.co.uk/s3fs-public/thumbnails/image/2020/03/09/09/habitat-olmo-turquoise-set-of-4-dinner-plates-ps40-www.habitat.co-.uk-lifestyle.jpg?w968);
  background-size: cover;
  height: 332rem; }
  .kantine__container {
    padding-top: 31.5rem;
    width: 487.5rem;
    margin-left: 15%; }
  .kantine__header {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 18rem;
    color: #34558b;
    margin-bottom: 19.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.7);
    width: 50rem;
    letter-spacing: 1rem; }
  .kantine__text {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 15rem;
    color: #34558b;
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.6);
    width: 70vw;
    letter-spacing: .53rem; }

.principles {
  overflow: auto;
  background-image: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0) 30%, white 60%), url(https://previews.123rf.com/images/serg_v/serg_v1505/serg_v150500008/39578346-fresh-fruits-and-vegetables-isolated-on-white-background.jpg);
  background-size: cover; }
  .principles__container {
    width: 300rem;
    float: right;
    padding-bottom: 55rem;
    margin-right: 10%; }
  .principles__header {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 18rem;
    color: #34558b;
    padding: 50rem 0 0 15rem;
    letter-spacing: 1rem; }
  .principles__text {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 15rem;
    color: #34558b;
    padding: 23rem 0 0 15rem;
    width: 90%;
    letter-spacing: .53rem; }

.sustainibility {
  overflow: auto;
  background-image: linear-gradient(90deg, #fff 0%, white 30%, rgba(0, 0, 0, 0) 60%), url(https://ak1.picdn.net/shutterstock/videos/4501541/thumb/1.jpg);
  background-size: cover; }
  .sustainibility__container {
    width: 300rem;
    float: left;
    margin-left: 15%;
    padding-bottom: 50rem; }
  .sustainibility__header {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 18rem;
    color: #34558b;
    padding: 50rem 0 0 15rem;
    letter-spacing: 1rem; }
  .sustainibility__text {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 15rem;
    color: #34558b;
    padding: 23rem 0 0 15rem;
    width: 90%;
    letter-spacing: .53rem; }

@media only screen and (max-width: 760px) {
  .filosofia__text {
    padding: 10rem;
    font-size: 13rem;
    width: 90vw; }
  .kantine__container {
    width: 80vw; }
  .principles__container {
    width: 80vw;
    margin-right: 5%; }
  .sustainibility__container {
    width: 80vw;
    float: right;
    padding-bottom: 55rem;
    margin-right: 5%; }
  .sustainibility__header {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 18rem;
    color: #34558b;
    padding: 50rem 0 0 15rem;
    letter-spacing: 1rem; }
  .sustainibility__text {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 15rem;
    color: #34558b;
    padding: 23rem 0 0 15rem;
    width: 90%;
    letter-spacing: .53rem; } }

@media only screen and (max-width: 400px) {
  .filosofia__text {
    padding: 5rem;
    font-size: 10rem;
    width: 100vw; }
  .filosofiaLogo {
    width: 90%; }
  .kantine__container {
    width: 90vw;
    margin: 0 auto; }
  .kantine__text {
    width: 100%;
    margin: 0 0 0 0; }
  .principles__container {
    width: 100vw; }
  .sustainibility__container {
    width: 100vw; } }
