.contact-btn {
  
     height: 4rem;
     width: 12rem;
     background-color: rgba(255, 255, 255, 0.24);
     border: 1px solid black;
     border-radius: 4px;
     color: black;
     font-size: 1.5rem;
     font-weight: 600;
     transition: all .5s;
     transform: translateY(-5rem);
     cursor: pointer;

  &-pos {
    justify-self: center;
    align-self: center;
     align-items: center;
     grid-row: 4/5;
     grid-column: 3/-1;
        }
     @media only screen and (max-width: 800px) {
      grid-column: 1/-1;
    
     
   }   
 
     &:hover{
         background-color: rgba(0, 0, 0, 0.527);
         color: white;
     }
 }

 .center{
    justify-self: center;
   margin: 0 auto;
   }
   
   //Buttons
   
   .btn-contact {
    justify-self: center;
    align-self: center;
     align-items: center;
     grid-row: 4/5;
     grid-column: 3/-1;
     height: 4rem;
     width: 12rem;
     background-color: rgba(255, 255, 255, 0.24);
     border: 1px solid black;
     border-radius: 4px;
     color: rgb(255, 255, 255);
     font-weight: 400;
     transition: all .5s;
    
     cursor: pointer;
   
       @media screen and(max-width: 800px){
         margin-top: 3rem;
       }
   
   
       &:hover {
         background-color: $color-blue;
         outline: none;
       }
   
       &:focus{
         outline: none;
       }
     
     }

     button:disabled{
       color: gray;
     }
     button:disabled:active{
      background-color: rgba(255, 255, 255, 0.24)
    }
    button:disabled:hover{
      background-color: rgba(255, 255, 255, 0.24)
    }
   
   
     .send{
       
       margin-top: 2rem;;
     }


     // LOADING DOTS

     .loading{

      &--1{
        animation-name: loading;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
      }

      &--2{
        animation-name: loading;
        animation-duration: 3s;
        animation-delay: 1.5s;
        animation-iteration-count: infinite;
      }

      &--3{
        animation-name: loading;
        animation-duration: 3s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
      }
     }

     @keyframes loading {
       0%{
         color: black;
       }
     

       50%{
         color: white;
       }
      

       100%{
         color: black;
       }
     }