

.curve {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    opacity: .83;

    @media only screen and (max-width: 800px) {
      visibility: hidden;      
     }   
    
}


.header {
   
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 45.9px 1fr;
    grid-template-rows: 10% 7% 53% 40%;
    height: 650px;

  &__logobox{
      display: flex;
      height: 100%;
      grid-row: 2/4;
      grid-column: 3/-1;
      border-bottom: 1px solid white;
      border-radius: 0 0 0 20%;
      
      color: white;
      font-size: 18rem;
      font-weight: 100;

      justify-content: center;
      align-items: center;
      
      background-color: $color-blueTrans;

      @media only screen and (max-width: 800px) {
       grid-column: 1/-1;
     }   
  }

    &__quote {
        grid-row: 3/4;
        grid-column: 1/2;
        text-align: center;
        padding: 10rem;
        height: 120%;
        margin-left: 10%;
        width: 80%;
        font-size: 5rem;;
        background-color: rgba(0, 0, 0, 0.26);
        color: rgb(255, 205, 205);
        border-radius: 0 10% 0 10%;

        @media only screen and (max-width: 1205px) {
          padding:10rem 5rem;
          font-size: 5rem;
         
        }   
        
        @media only screen and (max-width: 975px) {
          padding:10rem 5rem;
          font-size: 4rem;
         
        }   
       
           
        @media only screen and (max-width:805px) {
          padding:10rem 1rem;
          font-size: 5rem;
         
        }   

        @media only screen and (max-width: 800px) {
           visibility: hidden;
          
         }   
    }

}