
.nav {
    display: flex;
    justify-content: space-between;
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    flex-flow: row;
    align-items: center;
    
    background-color: $color-blueTrans;
    height: 6.5rem;;

    padding-left: 3rem;

    @media only screen and (max-width: 800px) {
       height: 100%;
     }   
    
    & ul{
        display: flex;
       
        
    }
    &__link{
        font-size: 1.5rem;
        margin: 1rem;
        list-style-type: none;
        color: rgb(175, 175, 175);
        transition: transform 0.5s;
        
&:hover {
    transform: scale(1.2);
   
}
        &:last-child{
            margin-right: 5rem;
        }

        @media only screen and (max-width: 800px) {
            visibility: hidden;
          
         }   
    }

    &__logo{
      
       @media (max-width: 700px){
           font-size: 2rem;
           width: 80%
       }
    }
 
    &__flag {
        width: 2.4rem;
        height: 1.4rem;
        cursor: pointer;

        @media(max-width: 700px){
            width: 3rem;
            height:1.7rem;
            margin-right: 0.7rem;
        }
    }
    
}


.nav__link a {
    color: rgb(228, 228, 228);
    text-decoration: none;
    font-weight: 400;

 
}


